<a class="menu-button subscribe-button" href="/about">About</a>
<!-- <a class="menu-button subscribe-button" href="/">Blog</a> -->
<!-- <a class="menu-button subscribe-button" href="/static">A static page</a> -->
